html,
body {
    background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.umsa.bo%2Fprogramas-umsa%2F-%2Fasset_publisher%2FUGcaErs6iuqN%2Fcontent%2Fmisionvisionvalores%2F3737644&psig=AOvVaw28ew-0E9b3ARTdjB6xn2zy&ust=1704812638688000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIDrsZOIzoMDFQAAAAAdAAAAABAI');
    background-size:100%;
}

.container {
    display        : flex;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
}

.container .title {
    font-size: 35px;
    color    : Green;
}

.container .buttons {
    margin-top : 50px;
    margin-left: -130px;
}

.container .buttons .btn {
    position        : absolute;
    padding         : 10px 20px;
    font-size       : 18px;
    background-color: #F51C02;
    color           : purple;
    border          : none;
    border-radius   : 3px;
}

.container .buttons>#btnno {
    margin-left: 70px;
}
