html,
body {
    background-image:url('FONDO.jpeg');
    background-size:100%;
}

.container {
    display        : flex;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
}

.container .title {
    font-size: 35px;
    color    : Green;
}

.container .buttons {
    margin-top : 50px;
    margin-left: -130px;
}

.container .buttons .btn {
    position        : absolute;
    padding         : 10px 20px;
    font-size       : 18px;
    background-color: #F51C02;
    color           : purple;
    border          : none;
    border-radius   : 3px;
}

.container .buttons>#btnno {
    margin-left: 70px;
}
